In [37]:
import quandl
import pandas as pd
quandl.ApiConfig.api_key = "MSWzwwjb_GzmsHx1cF-g"

In [7]:
data = quandl.get("EIA/PET_RWTC_D")
data

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87
...           ...
2020-05-05  24.56
2020-05-06  23.88
2020-05-07  23.68
2020-05-08  24.73
2020-05-11  24.02

[8679 rows x 1 columns]

In [8]:
data = quandl.get("FRED/GDP", start_date="2001-12-31", end_date="2002-12-31")

In [9]:
data

                Value
Date
2002-01-01  10788.952
2002-04-01  10893.207
2002-07-01  10992.051
2002-10-01  11071.463

In [10]:
pip install GetOldTweets3

Collecting GetOldTweets3
  Downloading GetOldTweets3-0.0.11-py3-none-any.whl (13 kB)
Collecting pyquery>=1.2.10
  Downloading pyquery-1.4.1-py2.py3-none-any.whl (22 kB)
Requirement already satisfied: lxml>=3.5.0 in c:\users\user\anaconda3\lib\site-packages (from GetOldTweets3) (4.4.1)
Collecting cssselect>0.7.9
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Installing collected packages: cssselect, pyquery, GetOldTweets3
Successfully installed GetOldTweets3-0.0.11 cssselect-1.1.0 pyquery-1.4.1
Note: you may need to restart the kernel to use updated packages.

In [12]:
import GetOldTweets3 as got

tweetCriteria = got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                           .setMaxTweets(2)
tweet = got.manager.TweetManager.getTweets(tweetCriteria)[0]
print(tweet.text)

Mitch, I love you, but this is 100% true. Time is running out. Get tough and move quickly, or it will be too late. The Dems are vicious, but got caught. They MUST pay a big price for what they have done to our Country. Don’t let them get away with this! @LindseyGrahamSC

In [59]:
tweetCriteria = got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                           .setSince("2017-01-20")\
                                           .setUntil("2020-05-17")\
                                           .setEmoji("unicode")
tweets = got.manager.TweetManager.getTweets(tweetCriteria)

print(len(tweet.text))
# for tweet in tweets:
#     print(tweet.text)
#     #print("----------------")
#     print(tweet.date)
#     print(tweet.to)
#     print(tweet.hashtags)
#     print("----------------")

An error occured during an HTTP request: HTTP Error 429: Too Many Requests
Try to open in browser: https://twitter.com/search?q=%20from%3Arealdonaldtrump%20since%3A2017-01-20%20until%3A2020-05-17&src=typd

SystemExit:

C:\Users\User\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [60]:
rows = []
for tweet in tweets:
    rows.append([tweet.id, tweet.permalink, tweet.username, tweet.to, tweet.text, tweet.date, tweet.retweets, tweet.favorites, tweet.mentions, tweet.hashtags, tweet.geo])

#print(rows)
df = pd.DataFrame(rows, columns=["id", "permalink", "username", "to", "text", "date", "retweets", "favorites", "mentions", "hashtags", "geo"])
df

,id,permalink,username,to,text,date,retweets,favorites,mentions,hashtags,geo
0,1261685767312740353,https://twitter.com/realDonaldTrump/status/126...,realDonaldTrump,seanmdav,"Mitch, I love you, but this is 100% true. Time...",2020-05-16 15:51:42+00:00,11183,30117,@LindseyGrahamSC,,
1,1261681866077343744,https://twitter.com/realDonaldTrump/status/126...,realDonaldTrump,MZHemingway,This is true. I say it all the time. The Repub...,2020-05-16 15:36:12+00:00,8360,25256,,,
2,1261680811746701312,https://twitter.com/realDonaldTrump/status/126...,realDonaldTrump,GPIngersoll,"Really sad, but even “sadder”, watch flunky @L...",2020-05-16 15:32:01+00:00,4823,14967,@Lawrence,,
3,1261675184181907456,https://twitter.com/realDonaldTrump/status/126...,realDonaldTrump,MZHemingway,Amazing!,2020-05-16 15:09:39+00:00,6152,19755,,,
4,1261673660319965189,https://twitter.com/realDonaldTrump/status/126...,realDonaldTrump,marklevinshow,One of a kind!,2020-05-16 15:03:36+00:00,5249,17212,,,
...,...,...,...,...,...,...,...,...,...,...,...
11567,817748207694467072,https://twitter.com/realDonaldTrump/status/817...,realDonaldTrump,None,Having a good relationship with Russia is a go...,2017-01-07 15:02:20+00:00,24352,86853,,,
11568,817703208567078913,https://twitter.com/realDonaldTrump/status/817...,realDonaldTrump,None,Only reason the hacking of the poorly defended...,2017-01-07 12:03:31+00:00,16368,72976,,,
11569,817701436096126977,https://twitter.com/realDonaldTrump/status/817...,realDonaldTrump,None,Intelligence stated very strongly there was ab...,2017-01-07 11:56:29+00:00,15198,59733,,,
11570,817579925771341825,https://twitter.com/realDonaldTrump/status/817...,realDonaldTrump,None,Gross negligence by the Democratic National Co...,2017-01-07 03:53:38+00:00,13771,58626,,,
11571,817522928862502913,https://twitter.com/realDonaldTrump/status/817...,realDonaldTrump,None,Happy Birthday @EricTrump! https://www.faceboo...,2017-01-07 00:07:09+00:00,6590,42101,@EricTrump,,

In [55]:
pip install -U textblob

Collecting textblob
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in c:\users\user\anaconda3\lib\site-packages (from textblob) (3.4.5)
Requirement already satisfied, skipping upgrade: six in c:\users\user\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.12.0)
Installing collected packages: textblob
Successfully installed textblob-0.15.3
Note: you may need to restart the kernel to use updated packages.

In [61]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.54.tar.gz (19 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (0.25.1)
Requirement already satisfied: numpy>=1.15 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.16.5)
Requirement already satisfied: requests>=2.20 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.22.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: pytz>=2017.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22414 sha256=a37df8a51bdfdf5bb468bfaf5165a95bc9dc4cbec74f6ad461a029059f1842bb
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\28\79\3c\08a301b673366fe664fe2853e136eb2acc1bb752045c11c6a1
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8372 sha256=a5e4b2ead545ce3da6aea28c7dc3a9a8a3c651b0b28f00153c882a076b3423f2
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\ae\25\47\4d68431a7ec1b6c4b5233365934b74c1d4e665bf5f968d363a
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.54
Note: you may need to restart the kernel to use updated packages.

In [64]:
import yfinance as yf

#define the ticker symbol
tickerSymbol = 'aapl'

#get data on this ticker
tickerData = yf.Ticker(tickerSymbol)

#get the historical prices for this ticker
tickerDf = tickerData.history(period='1d', start='2010-1-1', end='2020-1-25')

#see your data
tickerDf

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2010-01-04   26.40   26.53   26.27   26.47  123432400        0.0           0.0
2010-01-05   26.54   26.66   26.37   26.51  150476200        0.0           0.0
2010-01-06   26.51   26.62   26.06   26.09  138040000        0.0           0.0
2010-01-07   26.19   26.22   25.85   26.04  119282800        0.0           0.0
2010-01-08   26.01   26.22   25.85   26.22  111902700        0.0           0.0
...            ...     ...     ...     ...        ...        ...           ...
2020-01-17  314.67  317.13  313.41  317.12   34454100        0.0           0.0
2020-01-21  315.58  317.41  314.40  314.97   27710800        0.0           0.0
2020-01-22  316.97  318.37  315.70  316.09   25458100        0.0           0.0
2020-01-23  316.31  317.94  314.05  317.61   26118000        0.0           0.0
2020-01-24  318.63  321.69  315.91  316.70   36634400        0.0           0.0

[2532 rows x 7 columns]